:root {
	--font-primary: -apple-system, BlinkMacSystemFont, 'HelveticaNeue-Light', 'Helvetica Neue',
		Helvetica, Segoe UI, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-mono: ui-monospace, 'SFMono-Regular', 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;

	--color-background: #131419;
	--color-nav: rgba(0, 0, 0, 0.915);
	--color-border: #27282d;

	--color-text: #fff;
	--color-text-light: #b6bbbf;
	--color-text-accent: #868f97;
	--color-text-underline: #a4acb2;
	--color-text-accent-underline: #4f5559;
}
