:root {
	--font-primary: -apple-system, BlinkMacSystemFont, 'HelveticaNeue-Light', 'Helvetica Neue',
		Helvetica, Segoe UI, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-mono: ui-monospace, 'SFMono-Regular', 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;

	--color-background: #fff;
	--color-text: #000;
}
